@model BillBucket.Models.Facture

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFacture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReglement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReglement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Adresse)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
