@model IEnumerable<BillBucket.Models.Facture>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Ajouter une facture</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroFacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReglement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFacture)
            </td>
            <td>
                @item.DateEmission.ToShortDateString()
            </td>
            <td>
                @item.DateReglement.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Adresse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
