@model Medoc.Models.Risque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Risque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fait.Decsription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fait.Decsription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maladie.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maladie.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probabilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probabilite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
