@model Facturation.Models.Paiement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReception)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBanque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBanque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.RaisonSociale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
