@model IEnumerable<FirstApp.Models.Reponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateur.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReponse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReponse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
